body {
    margin: 0
}
.App{
  display: flex;
  position: absolute;
  width: 100%;
  height: 100%;
  flex-wrap: wrap;
  background-color: darkgrey;
  overflow: hidden;
 }


.Text {
  width:100%;
  height:100%;
  text-align:center;
  font-size: 2em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.page-banner {
  text-align: center;
  flex-direction: row ;
  display: flex;
  justify-content: flex-start ;
  width: 100%;
  height: 10%;

  
}

.page-footer {
   position: relative; 
   width: 100%;
    height: 10%;
}

.Text2 { 
   position: absolute; 
   top: 10px; 
   left: 0; 
   width: 100%; 
   text-align: center;
}

.ul-nav {
      justify-content: left;
    list-style-type: none;
    display : block;
    margin: 0;
    padding: 0;
    height: 80%;
    width: 200px;
    background-color: #333;
    overflow: hidden;
    border: 0px solid red;
            & :hover {
            background-color: #ddd;
            color: black;
    }
                & :active {
            background-color: #4CAF50;
            color: white;
    }
}



.li-nav-item {
   
        float: top;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}



.ellipsis {
    max-width: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.table {
  justify-content: center;
    height: 100%;
    width: 100%;
    border: 1px solid black ;
    text-align: center; 
    margin: 0px auto;
    }

.table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.th{
   text-align: center; 
}

.page {
    margin-left: auto;
    margin-right: auto;
     justify-content: center;
}